/* Start with most common */
.action_admin .generic_list {
	overflow: auto;
}
#admin_content .windowbg {
	margin: 5px 0 5px 0;
	box-shadow: none;
}
#admin_content .windowbg2 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: 0 0 10px 0;
	box-shadow: none;
	background: #f0f4f7;
}

.action_admin .table_grid th {
	padding: 6px 6px 5px 6px;
}
.action_admin .table_grid td {
	border: 1px solid #ddd;
	border-top: 0;
}
.action_admin .generic_list .flow_auto {
	padding: 4px 2px;
}
.windowbg.nopadding {
	margin: 0 !important;
	padding: 0;
}
.windowbg ol {
	margin-top: 0;
	margin-bottom: 0;
}
a.help .icon {
	margin: 0;
	padding: 0 4px 0 0;
}
.catbg a.help .icon {
	margin: -4px 0 0 0;
}
.table_caption, tr.table_caption td {
	color: #000;
	font-size: 10px;
	font-weight: bold;
}
.additional_row div.floatleft {
	padding: 0 10px;
}
fieldset {
	margin-bottom: 6px;
	border: 1px solid #cacdd3;
	padding: 6px;
}
fieldset dl {
	margin: 0;
}
legend {
	font-weight: bold;
	color: #000;
}

/* Styles for the admin home screen.
------------------------------------------------------- */
/* Admin quick search bar, and results page. */
h3.catbg #quick_search form {
	padding-top: 2px;
	font-size: 0.9em;
}
h3.catbg #quick_search form input, h3.catbg #quick_search form select, h3.catbg #quick_search form .button_submit {
	margin: 0 3px !important;
	padding: 4px 3px 3px 3px;
	border-radius: 4px;
	border: 1px solid #777;
	vertical-align: top;
}
h3.catbg #quick_search form select {
	font-size: 0.9em;
	margin: -1px 0 0 0;
	padding: 2px;
}
h3.catbg #quick_search form select option {
	padding: 2px 4px;
}
h3.catbg #quick_search form .button_submit {
	font-weight: bold;
	padding: 3px 6px 2px 6px;
}
h3.catbg #quick_search form .button_submit:hover {
	background: #fff;
}

/* Browser tweaks. */
body#chrome #quick_search form .input_text {
	padding: 2px;
}
body#chrome #quick_search form input {
	float: none;
}

/* The welcome thingy. */
#welcome {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 7px 7px;
	font-size: 0.9em;
	padding: 12px 9px 8px 9px;
}
#welcome a {
	font-weight: bold;
}
#welcome img {
	vertical-align: middle;
}
.search_results {
	margin: 0 -6px;
}
.search_results li {
	margin: 0;
	padding: 5px 0;
	overflow: auto;
	line-height: 1.7em;
	border-bottom: double #ccc;
}
.search_results li:last-child {
	border: none;
}
.search_results li a strong {
	color: #346;
}
.search_results li p {
	padding: 0 20px;
	line-height: 1.7em;
}

/* Cleaned this up a bit for less clutter.
/* Admin and moderation could generally do with a clean up everywhere.
/* Live news from smorg and support information. */
#live_news, #supportVersionsTable {
	width: 70%;
	box-sizing: border-box;
}
#supportVersionsTable {
	width: 30%;
	padding-left: 6px;
}
#admin_main_section {
	overflow: auto;
}
#admin_main_section .windowbg {
	padding: 6px 0;
	border-radius: 0;
	height: 12em;
	overflow: auto;
}
#smfAnnouncements dt {
	padding: 4px 6px 2px 6px;
	border-top: 1px solid #bf6900;
}
#smfAnnouncements dt a {
	color: #bf6900;
	font-weight: bold;
	display: block;
}
#smfAnnouncements dd {
	margin: 0;
	padding: 6px 12px;
	border-top: double #ddd;
}

fieldset.admin_group legend {
	background: #eaf1f4;
	border: 1px solid #cacdd3;
	padding: 1px 5px;
	border-radius: 3px;
}
fieldset.admin_group a {
	display: inline-block;
	width: 100px;
	font-size: 85%;
	text-align: center;
	vertical-align: top;
}
fieldset.admin_group .inactive {
	filter:Alpha(opacity=40);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	opacity: 0.4;
}

/* The update warning. */
#update_section {
	margin: 6px 0;
}

/* The icons. */
.large_admin_menu_icon_file {
	margin: 0 auto;
	display: block;
	width: 32px;
	height: 32px;
}
.large_admin_menu_icon {
	background: url(../images/icons/admin_icons_hd.png) no-repeat  -5px -47px;
	margin: 0 auto;
	display: block;
	content: '';
	width: 32px;
	height: 32px;
}
.large_admin_menu_icon.attachment {
	background-position: -5px -5px;
}
.large_admin_menu_icon.ban {
	background-position: -47px -5px;
}
.large_admin_menu_icon.boards {
	background-position: -89px -5px;
}
.large_admin_menu_icon.calendar {
	background-position: -131px -5px;
}
.large_admin_menu_icon.current_theme {
	background-position: -173px -5px;
}
.large_admin_menu_icon.default {
	background-position: -5px -47px;
}
.large_admin_menu_icon.engines {
	background-position: -47px -47px;
}
.large_admin_menu_icon.exit {
	background-position: -89px -47px;
}
.large_admin_menu_icon.features {
	background-position: -131px -47px;
}
.large_admin_menu_icon.languages {
	background-position: -173px -47px;
}
.large_admin_menu_icon.logs {
	background-position: -5px -89px;
}
.large_admin_menu_icon.mail {
	background-position: -47px -89px;
}
.large_admin_menu_icon.maintain {
	background-position: -89px -89px;
}
.large_admin_menu_icon.membergroups {
	background-position: -131px -89px;
}
.large_admin_menu_icon.members {
	background-position: -173px -89px;
}
.large_admin_menu_icon.modifications {
	background-position: -5px -131px;
}
.large_admin_menu_icon.news {
	background-position: -47px -131px;
}
.large_admin_menu_icon.packages {
	background-position: -89px -131px;
}
.large_admin_menu_icon.paid {
	background-position: -131px -131px;
}
.large_admin_menu_icon.permissions {
	background-position: -173px -131px;
}
.large_admin_menu_icon.posts {
	background-position: -5px -173px;
}
.large_admin_menu_icon.regcenter {
	background-position: -47px -173px;
}
.large_admin_menu_icon.reports {
	background-position: -89px -173px;
}
.large_admin_menu_icon.scheduled {
	background-position: -131px -173px;
}
.large_admin_menu_icon.search {
	background-position: -173px -173px;
}
.large_admin_menu_icon.security {
	background-position: -215px -5px;
}
.large_admin_menu_icon.server {
	background-position: -215px -47px;
}
.large_admin_menu_icon.smiley {
	background-position: -215px -89px;
}
.large_admin_menu_icon.support {
	background-position: -215px -131px;
}
.large_admin_menu_icon.themes {
	background-position: -215px -173px;
}
.large_admin_menu_icon.warning {
	background-position: -5px -215px;
}

/* Styles for the support and credits page.
/* Hey, people might actually want to put their names on it now!
/* Only a couple of trivial markup hacks that wont break any mods or themes.
/* The older I get, the more devious I get. :D
/* Nobody ever themes admin anyway. That's why it looked like crap. */
#support_credits {
	position: relative;
	margin: -4px 0 0 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#credits_logo {
	position: absolute;
	right: 10px;
	top: 9px;
}
#latestSupport {
	padding: 0 25px 15px 25px;
}
#support_credits dl {
	padding: 0 6px;
}
#support_credits dt {
	float: left;
	padding: 6px 0.8em 0 0;
	text-indent: -4px;
}
#support_credits dd {
	padding: 6px 0;
}

/* Styles for the package manager.
/* Haven't got here yet. :P */
#package_list .tborder {
	margin: .25em 0 .25em 26px;
}
#package_list ol, #package_list ol li {
	list-style: decimal;
	margin-left: 50px;
	border: none;
}
#package_list li {
	border: 1px solid #cacdd3;
	padding: 0.2em;
	margin: 1px;
}
.package_section {
	border: 1px solid #cacdd3;
}
span.package_server {
	padding: 0 3em;
}
pre.file_content {
	overflow: auto;
	width: 100%;
	padding-bottom: 1em;
}
.operation {
	padding: 0 1em;
}

/* Styles for the file permissions section. */
.filepermissions {
	font-size: 0.8em;
	white-space: nowrap;
}
.fperm {
	display: block;
	width: 35%;
	text-align: center;
}
.perm_read {
	background-color: #d1f7bf;
	width: 8%;
}
.perm_write {
	background-color: #ffbbbb;
	width: 8%;
}
.perm_execute {
	background-color: #fdd7af;
	width: 8%;
}
.perm_custom {
	background-color: #c2c6c0;
	width: 8%;
}
.perm_nochange {
	background-color: #eee;
	width: 8%;
}

.generic_icons.select_above {
	background-position: -134px -30px;
}
.generic_icons.select_here {
	background-position: -108px -30px;
}
.generic_icons.select_below {
	background-position: -80px -30px;
}

/* Styles for the BBC permissions */
.list_bbc {
	width: 33%;
}

/* Styles for the manage boards section. */
#manage_boards {
	overflow: auto;
}
.roundframe .windowbg, .roundframe .windowbg2 {
	border: 0;
	padding: 0;
	background: none;
}
#manage_boards li.windowbg, #manage_boards li.windowbg2 {
	padding: 8px 0;
	margin: 0;
	border-radius: 0;
	border: 1px solid #ddd;
	border-bottom: none;
}
#manage_boards li.windowbg:first-child, #manage_boards li.windowbg2:first-child {
	border-top: none;
}
#manage_boards li.windowbg:last-child, #manage_boards li.windowbg2:last-child {
	border-bottom: 1px solid #ddd;
}
#manage_boards li.windowbg:hover, #manage_boards li.windowbg2:hover {
	background: #D0E7F8;
}
#manage_boards li .floatleft {
	font-weight: bold;
	padding: 0 6px;
}
#manage_boards li#recycle_board {
	background-color: #dee;
}
#manage_boards li.redirect_board, #manage_boards li.redirect_board:hover {
	background-color: #eed;
}
.move_links {
	padding: 0 13px 0 0;
}
#manage_boards .button {
	margin: 0 8px 0 0;
}
#manage_boards dl {
	padding: 8px 6px 0 6px;
}
#manage_boards dl textarea, #manage_boards dl table{
	margin: 0 0 8px 0;
}
#manage_boards span.post_group, #manage_boards span.regular_members {
	border-bottom: 1px dotted #000;
	cursor: help;
}
#manage_boards .button_submit {
	margin: 2px 2px 0px 12px;
}
.select_all_box {
	display:none;
}

/* Styles for the manage members section. */
.msearch_details {
	display: block;
	width: 49%;
}
dl.right dt {
	padding-right: 10px;
}

/* Styles for the question and answers */
fieldset.qa_fieldset {
	clear: both;
	display: none;
}

/* Styles for the manage search section. */
span.search_weight {
	width: 40px;
	padding: 0 0.5em;
	text-align: right;
}
.search_settings {
	width: 47%;
}

/* Styles for the manage bans section. */
.ban_restriction {
	margin: 0.2em 0 0.2em 2.2em;
}
.ban_settings {
	width: 46%;
}
#manage_bans dl {
	margin-bottom: 1em;
}
#manage_bans fieldset dl.settings {
	margin-bottom: 0;
}

/* Styles for the manage subscriptions section. */
#fixed_area {
	width: 97%;
}

/* Styles for the manage permissions section. */
.perm_name, .perm_profile, .perm_board {
	display: block;
	width: 40%;
}
.perm_boards {
	padding: 0;
	margin: 0 0 0.6em 0;
}
.perm_boards li {
	list-style-type: none;
	border: 1px solid #cacdd3;
	border-top: 0;
	padding: 0.2em;
}
.perm_boards li:first-child {
	border-top: 1px solid #cacdd3;
}
.perm_groups {
	background-color: #fff;
}
.perms {
	width: 20px;
	display: inline-block;
	text-align: center;
}

/* Styles for the themes section. */
ul.theme_options {
	padding: 0;
	margin: 0;
}
ul.theme_options li {
	list-style: none;
	padding: 0.4em;
}
.is_directory {
	padding-left: 18px;
	background: url(../images/admin/boards.png) no-repeat;
}
.edit_file {
	width: 96%;
	font-family: monospace;
	margin-top: 1ex;
	white-space: pre;
}

dl.themes_list {
	margin: 0;
}
dl.themes_list dt {
	margin-bottom: 3px;
}
dl.themes_list dd {
	font-style: italic;
	white-space: nowrap;
}

/* Styles for the registration center. */
.agreement, .reserved_names {
	padding: 0;
}
#agreement, #reserved {
	width: 99%;
}

/* Styles for the moderation center. */
#modcenter {
	display: block;
	width: 100%;
}

/* Moderation Notes */
ul.moderation_notes {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	height: 10.2em;
}
ul.moderation_notes li {
	padding: 0.2em;
	border-bottom: 1px solid #cccccc;
}
.notes {
	margin-top: 0.4em;
}
.post_note {
	width: 85%;
}

/* Styles for the error log. */
h3.grid_header {
	height: 25px;
}
#error_log {
	width: 100%;
}
#error_log tr.windowbg td, #error_log tr.windowbg2 td {
	padding: 8px;
	line-height: 160%;
}
#error_log td div {
	box-sizing: border-box;
}
#error_log td.checkbox_column {
	width: 15px;
	vertical-align: top;
	text-align: center;
}
#error_log a img {
	vertical-align: middle;
	margin: 0 8px 0 0;
}

/* More error log stuff. Could still be cleaned up a bit. */
#error_log {
	margin: 4px 0;
}
#error_log tr:first-child td {
	background: #fff;
	padding: 8px;
}

/* Styles for the Report generation */
#report_buttons {
	min-height: 2.4em;
	padding: 3px 0;
}
.report_results th {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#support_credits .sub_bar {
	padding: 6px 0px 5px 0px;
}
#taskpad .button_submit, #admincenter, #admin_form_wrapper {
	margin: 5px 0 5px 0;
}
h3.config_hd {
	background: url(../images/icons/config_hd.png) no-repeat 12px;
	padding: 8px 0 8px 45px;
}
.full_width {
	width: 100%;
}
.winfo {
	border-radius: 0;
	border-bottom: 0;
	margin: 0 !important;
}

#versions .table_grid {
	margin: 0;
}
#Sources .half_table, #Default .half_table, #Languages .half_table {
	padding-left: 20px;
}