/* This is the editor's playground (textarea for non-wysiwyg, iframe for wysiwyg). */
.editor
{
	width: 635px;
	max-width: 100%;
	min-width: 100%;
}

/* This is the IFRAME that holds the editor. */
.rich_editor_frame
{
	border: 1px solid #808080;
}

/* This is the WYSIWYG editor */
.rich_editor
{
	background-color: #fff;
	color: #000;
	font-family: verdana;
	font-size: x-small;
	border: none;
}

.rich_editor p
{
	margin: 0;
}

.rich_editor a img
{
	border: 0;
}

/* The resize handle. */
.richedit_resize
{
	height: 5px;
	font-size: 0;
	background: #eee url(../images/bbc/resize-handle.gif) no-repeat 50% 1px;
	border: 1px solid #ddd;
	border-top-width: 0;
	cursor: s-resize;
	width: 100%;
}