:root {
	/* Admin CP Stuff */

    /* Styles for the file permissions section. */

	--perm_read_bg_color: hsl(101, 78%, 86%);
	--perm_writable_bg_color: hsl(0, 100%, 87%);
	--perm_execute_bg_color: hsl(31, 95%, 84%);
	--perm_custom_bg_color: hsl(100, 5%, 76%);
	--perm_no_change_bg_color: hsl(0, 0%, 93%);
	--perm_groups_bg_color: hsl(0, 0%, 100%);
	--manage_boards_li_recycle_board_bg_color: hsl(180, 33%, 90%);
	--manage_boards_li_redirect_board_bg_color: hsl(60, 33%, 90%);
	--move_smileys_link_hover_img_border_color: hsl(208, 44%, 61%);
	--move_smileys_selected_item_border_color: hsl(39, 100%, 59%);

	/* Alternating colors */

	--stripes_even_bg_color: hsl(0, 0%, 5%);
	--stripes_odd_bg_color: hsl(206, 30%, 5%);
	--alternative_bg_color: hsl(0, 0%, 5%);
	--alternative_bg_2_color: hsl(202, 21%, 3%);

	/* AJAX Notification Bar */
	
	--ajax_in_progress_bg_color: hsl(0, 0%, 10%);
	--ajax_in_progress_border_color: hsl(27, 100%, 49%);
	--ajax_in_progress_border_style: solid;
	--ajax_in_progress_border_width: 4px;
	--ajax_in_progress_link_color: hsl(39, 100%, 50%);
	--ajax_in_progress_txt_color: hsl(27, 100%, 49%);

	/* Auto Suggest Control */

	--auto_suggest_border_color: hsl(0, 0%, 33%);
	--auto_suggest_border_style: solid;
	--auto_suggest_border_width: 1px;
	--auto_suggest_border_radius: 3px;
	--auto_suggest_item_bg_color: hsl(0, 0%, 37%);
	--auto_suggest_item_hover_bg_color: hsl(0, 0%, 13%);
	--auto_suggest_item_hover_txt_color: hsl(0, 0%, 13%);
	
    /* Body */

	--body_bg_color: hsl(214, 36%, 10%);
	--body_txt_color: hsl(0, 0%, 90%);
	--body_font_family: "Segoe UI", "Helvetica Neue", "Nimbus Sans L", Arial, "Liberation Sans", sans-serif;
	--body_font_size: 85%;
	--body_line_height: 150%;
	--border_color: hsl(0, 0%, 3%);
	--border_style: solid;
	--border_width: 1px;
	--html_bg_color: hsl(211, 32%, 36%);
	--heading_font_size: 1em;
	--heading_txt_color: hsl(0, 0%, 90%);
	--highlight_txt_color: hsl(27, 100%, 50%) !important;
	--horizontal_rule_bg_color: hsl(0, 0%, 0%);
	--horizontal_rule_box_shadow: 0 1px 0 hsl(0, 0%, 73%)inset;
	--link: hsl(213, 58%, 77%);
	--link_hover: hsl(213, 58%, 77%);
	--moderation_link_bg_color: hsl(39, 100%, 48%);
	--moderation_link_border_radius: 50%;
	--strong_txt_color: hsl(0, 0%, 87%);
	--option_bg_hover_color: hsl(214, 36%, 91%);
	--wrapper_bg_color: hsl(0, 0%, 10%);
	--wrapper_border_color: hsl(0, 0%, 7%);
	--wrapper_border_style: solid;
	--wrapper_border_width: 1px;
	--wrapper_border_radius: 8px;
	--wrapper_box_shadow: 0 2px 3px hsla(0, 0%, 0%, 0.14);
	--inner_section_bg_color: linear-gradient(hsl(215, 41%, 2%) 0%, hsl(0, 0%, 10%) 70%);
    --inner_section_border_radius: 6px 6px 0px 0px;
	--inner_wrap_bg_color: hsl(0, 0%, 10%);
	--inner_wrap_border_color: hsl(0, 0%, 7%);
	--inner_wrap_border_style: solid;
	--inner_wrap_border_width: 1px;
	--selection_bg_color: hsl(205, 100%, 80%);
	--selection_txt_color: hsla(0, 0%, 0%, 0.6);

	/* Breadcrumb */

	--breadcrumb_bg_color: hsl(0, 0%, 17%);
	--breadcrumb_border_color: hsl(0, 0%, 27%);
	--breadcrumb_border_style: solid;
	--breadcrumb_border_width: 1px;
	--breadcrumb_border_radius: 5px;
	--breadcrumb_box_shadow: 0px 0px 1px 1px rgb(25,25,25) inset;
	--breadcrumb_divider_color: hsl(206, 38%, 40%);
	--breadcrumb_divider_font_family: Arial, sans-serif;
	--breadcrumb_divider_font_size: 83.33%;
	--breadcrumb_divider_line_height: 150%;
	--breadcrumb_font_size: 0.9em;
	--breadcrumb_link_color: hsl(213, 58%, 77%);
	--breadcrumb_txt_color: hsl(0, 0%, 27%);

	/* Buttons */

	--button_bg_color: hsl(0, 0%, 5%);
	--button_bg_hover: hsl(0, 0%, 5%);
	--button_bg_active: hsl(207, 31%, 32%);
	--button_bg_focus: hsl(207, 31%, 32%);
	--button_border_color: hsl(0, 0%, 7%) hsl(0, 0%, 3%) hsl(0, 0%, 7%) hsl(0, 0%, 8%);
	--button_border_style: solid;
	--button_border_width: 1px;
	--button_border_radius: 3px;
	--button_box_shadow: none;
	--button_font_size: 0.7rem;
	--button_line_height: 2em;
	--button_padding: 1px 8px;
	--button_min_height: calc(2em + 2em * (0.9 - 0.85)); /* "input" font size minus ".button" font size */
	--button_active_border_color: hsl(180, 20%, 42%);
	--button_active_border_style: solid;
	--button_active_border_width: 1px;
	--button_active_font_weight: bold;
	--button_hover_border_color: hsl(0, 0%, 7%) hsl(0, 0%, 8%) hsl(0, 0%, 8%) hsl(0, 0%, 7%);
	--button_hover_box_shadow: none;
	--button_txt_color: hsl(213, 58%, 34%);
	--button_txt_color_active: hsl(0, 0%, 0%);
	--button_txt_color_hover: hsl(35, 100%, 50%);
	--button_txt_color_focus: hsl(35, 100%, 50%);
	--button_txt_color_active_and_focus: hsl(35, 100%, 50%);
	--button_txt_color_hover_and_focus: hsl(35, 100%, 50%);

    /* Board Index */

	--forum_title_link_color: hsl(213, 58%, 37%);
	--forum_title_font_size: 1.8em;
	--forum_title_font_family: "Tahoma", sans-serif;
	--children_bg_color: hsl(0, 0%, 7%);
	--children_padding: 5px;
	--sub_bar_link_color: hsl(0, 0%, 3%);
	--up_contain_bg_color: hsl(0, 0%, 10%);
	--information_bg_color: hsl(0, 0%, 7%);
	--information_border_color: hsl(0, 0%, 3%);
	--information_border_style: solid;
	--information_border_width: 1px;
	--information_border_radius: 0 0 7px 7px;
	--moderationbuttons_check_focus_box_shadow: 0 0 4px hsl(205, 65%, 7%);

	/* Category */

	--cat_bg_color: hsl(207, 31%, 32%);
	--cat_bar_border_radius: 6px 6px 0 0;
	--cat_bar_collapsed_border_radius: 6px;
	--cat_bar_desc_txt_color: hsl(0, 0%, 93%);
	--cat_bar_link_color: hsl(0, 0%, 97%);
	--cat_bar_strong_txt_color: hsl(0, 0%, 97%);
	--cat_bar_inner_padding: 8px 12px 6px 12px;
	--cat_bar_outer_padding: 0px 0px 2px 0px;

	/* Calendar */
	--calendar_day_days_hover_bg_color: hsla(0, 0%, 100%, 0.4);
	--calendar_td_events_bg_color: hsla(117, 92%, 52%, 0.1);
	--calendar_td_events_bg_color_hover: hsla(117, 92%, 52%, 0.2);
	--calendar_td_holidays_bg_color: hsla(216, 92%, 53%, 0.1);
	--calendar_td_holidays_bg_color_hover: hsla(216, 92%, 53%, 0.2);
	--calendar_td_birthdays_bg_color: hsla(264, 100%, 50%, 0.1);
	--calendar_td_birthdays_bg_color_hover: hsla(270, 100%, 60%, 0.2);
	--calendar_event_time_text_color: hsl(0, 0%, 47%);
	--calendar_td_days_link_hover_bg_color: hsla(207, 28%, 52%, 0.2);

	/* Info Center*/

	--info_block_information_bg_color: hsl(0, 0%, 10%);
    --info_center_container_bg_color: hsl(0, 0%, 6%);
	--info_center_border_radius: 3px;
	--info_center_box_shadow: 0px 2px 0px hsl(210, 11%, 5%);
	--roundframe_bg_color: hsl(0, 0%, 6%);
	--roundframe_border_radius: 7px;

	/* Title Bar */

	--title_bar_bg_color: hsl(0, 0%, 6%);
	--title_bar_border_bottom_color: hsl(35, 100%, 50%);
	--title_bar_border_bottom_style: solid;
	--title_bar_border_bottom_width: 2px;
	--title_bar_border_top_color: hsl(35, 100%, 50%);
	--title_bar_border_top_style: solid;
	--title_bar_border_top_width: 2px;
	--title_bar_border_radius: 2px 2px 0 0;
	--title_bar_link: hsl(0, 0%, 93%);
	--title_bar_inner_padding: 8px 12px 6px 12px;
	--title_bar_outer_padding: 0px;

	/* Calendar colors for birthdays, events and holidays */

	--birthday_txt_color: hsl(284, 90%, 40%);
	--event_txt_color: hsl(120, 90%, 28%);
	--holiday_txt_color: hsl(218, 100%, 50%);
	--warn_moderate_txt_color: hsl(39, 100%, 50%);
	--warn_watch_txt_color: hsl(120, 100%, 25%);
	
	/*Error, Info, and Notice Boxes. */

    --error_box_bg_color: hsl(0, 100%, 97%);
	--error_box_border_color: hsl(353, 60%, 50%);
	--error_box_border_style: solid;
	--error_box_border_width: 2px;
	--notice_box_bg_color: hsl(50, 100%, 90%);
	--notice_box_border_color: hsl(48, 100%, 57%);
	--notice_box_border_style: solid;
	--notice_box_border_width: 1px;
	--notice_box_txt_color: hsl(0, 0%, 40%);
	--info_box_bg_color: hsl(120, 100%, 90%);
	--info_box_border_color: hsl(120, 100%, 25%);
	--info_box_border_style: solid;
	--info_box_border_width: 1px;
	--info_box_txt_color: hsl(0, 0%, 13%);
	--desc_box_border_color: hsl(0, 0%, 77%);
	--desc_box_border_style: solid;
	--desc_box_border_width: 1px;
	
	/* File Error */

    --errorfile_table_td_bg_color: hsl(0, 0%, 98%);
	--errorfile_table_current_bg_color: hsl(0, 87%, 88%);
	--errorfile_table_file_line_bg_color: hsl(0, 0%, 13%);
	--errorfile_table_file_line_current_bg_color: hsl(0, 93%, 77%);

	/* Code Blocks */

	--code_bg_color: hsl(0, 0%, 95%);
	--code_border_color: hsl(0, 0%, 87%);
	--code_border_top_color: hsl(0, 0%, 73%);
	--code_border_bottom_color: hsl(0, 0%, 67%);
	--code_border_radius: 2px;
	--code_font_size: 0.78rem;
	--code_header_font_size: 0.9em;
	--code_header_txt_color: hsl(0, 0%, 40%);

	/* Colors for background of posts requiring approval */

	--approve_bg_color: hsl(0, 100%, 96%);
	--approve_bg_color_2: hsl(0, 100%, 97%);
	--approve_txt_color: hsl(0, 0%, 13%);

	/* FieldSet */

    --fieldset_legend_txt_color: hsl(0, 0%, 93%);
    --fieldset_border_color: hsl(0, 0%, 13%);
	--fieldset_border_style: solid;
	--fieldset_border_width: 1px;
	--fieldset_border_radius: 3px;
	--fieldset_padding: 18px;
	--fieldset_margin: 0px 0px 6px 0px;

	/* Footer */

	--footer_bg_color: hsl(207, 31%, 32%);
	--footer_font_size: 0.9em;
	--footer_txt_color: hsl(0, 0%, 93%);
	--footer_padding: 10px 0;
	--footer_margin: 4em 0px 0px 0px;

	/* Generic & Progress Bar */

    --generic_bar_bar_bg_color: hsl(39, 100%, 50%);
	--generic_bar_bar_box_shadow: 4px -4px 8px hsla(0, 0%, 0%, 0.1) inset, 4px 4px 8px hsla(0, 0%, 100%, 0.3) inset;
	--generic_bar_bar_border_radius: 1px;
	--generic_bar_border_color: hsl(0, 4%, 80%);
	--generic_bar_border_style: solid;
	--generic_bar_border_width: 1px;
	--generic_bar_border_radius: 2px;
    --generic_bar_bg_color: hsl(0, 0%, 0%);
	--generic_bar_txt_color: hsla(0, 0%, 0%, 0.6);
	--generic_bar_span_txt_shadow: 1px 1px hsla(0, 0%, 100%, 0.4);
	--generic_bar_vertical_bar_box_shadow: 4px -4px 4px hsla(0, 0%, 0%, 0.1) inset, 4px 4px 4px hsla(0, 0%, 100%, 0.3) inset;
	--progress_bar_border_radius: 4px;
	--progress_bar_txt_color: hsla(0, 0%, 0%, 0.8);
	--progress_bar_bar_bg_color: hsl(100, 67%, 55%);
	--progress_bar_bar_bg_image: linear-gradient(135deg, hsla(0, 0%, 100%, 0.15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, 0.15) 50%, hsla(0, 0%, 100%, 0.15) 75%, transparent 75%, transparent);
    --progress_bar_bar_box_shadow: -1px 1px 0 hsla(0, 0%, 100%, 0.25) inset, 1px -1px 0 hsla(0, 0%, 0%, 0.1) inset;
	--progress_yellow_bar_bg_color: hsl(47, 92%, 54%);
	--progress_green_bar_bg_color: hsl(100, 67%, 55%);
	--progress_red_bar_bg_color: hsl(6, 88%, 63%);
	--progress_blue_bar_bg_color: hsl(191, 76%, 55%);

	/* Header */

	--header_bg_color: hsl(0, 0%, 0%);
	--top_info_border_color: hsl(210, 31%, 42%);
	--top_info_border_style: solid;
	--top_info_border_width: 1px;
	--top_info_link_hover_bg_color: hsl(35, 100%, 50%);
	--top_info_link_active_bg_color: hsl(35, 100%, 50%);
	--top_info_link_focus_bg_color: hsl(211, 28%, 49%);
	--top_info_link_hover_txt_color: hsl(0, 0%, 0%);
	--top_info_link_txt_color: hsl(0, 0%, 0%);
	--top_info_link_txt_open_color: hsl(0, 0%, 0%);
	--top_info_active_link_color: hsl(0, 0%, 0%);
	--top_info_hover_link_color: hsl(39, 100%, 50%);
	--top_info_link_hover_border_color: hsl(0, 0%, 0%);
	--top_info_link_focus_border_color: hsl(210, 31%, 42%);
	--top_info_link_border_radius: 4px;
	--top_info_link_border_color: transparent;
	--top_info_link_border_style: solid;
	--top_info_link_border_width: 1px;
	--top_info_link_padding: 5px 7px 5px 7px;
	--top_info_link_font_size: 1.5em;
	--top_info_active_link_color: hsl(0, 0%, 95%);
	--top_info_hover_link_color: hsl(39, 100%, 50%);
	--top_info_link_hover_border_color: hsl(0, 0%, 0%);
	--top_info_link_focus_border_color: hsl(210, 31%, 42%);
	--top_menu_bg_color: hsl(0, 0%, 0%);
	--top_menu_box_shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
	--top_menu_border_radius: 3px;

	/* News Section */

	--news_bg_color: hsl(222, 100%, 15%);
	--news_left_bg_color: hsl(222, 100%, 10%);
	--news_left_font_size: 20px;
	--news_left_padding: 0px 10px;
	--news_right_padding: 0px 5px 0px 5px;
	--news_font_size: 0.9em;

	/* Input, Button, Select, Textarea */

    --ibst_txt_color: hsl(0, 0%, 93%);
	--ibst_bg_color: hsl(0, 0%, 0%);
	--ibst_box_shadow: 1px 2px 1px hsla(213, 47%, 75%, 0.2) inset;
	--ibst_border_color: hsl(0, 0%, 33%);
	--ibst_border_style: solid;
	--ibst_border_width: 1px;
	--ibst_border_radius: 3px;
	--ibst_disabled_bg_color: hsl(0, 0%, 13%);
	--ibst_disabled_border_color: hsl(0, 0%, 71%);
	--ibst_disabled_txt_color: hsl(0, 0%, 60%);
	--ibst_font_family: "Segoe UI", "Helvetica Neue", "Nimbus Sans L", Arial, "Liberation Sans", sans-serif;
	--ibst_font_size: 85%;
	--ibst_font_line_height: 150%;
	--ibst_padding: 0.3em 0.4em;

	/* Maintenance Mode */

    --errorfile_table_bg_color: hsl(206, 30%, 95%);
	--errorfile_table_td_current_bg_color: hsla(33, 92%, 51%, 0.2);
	--errorfile_table_td_current_border_color: hsla(0, 0%, 0%, 0.2);
	--errorfile_table_td_current_border_style: solid;
	--errorfile_table_td_current_border_width: 1px;

	/* Menu */

    --amt_active_bg_color: hsla(0, 0%, 0%, 0.2);
	--amt_bg_color: hsl(39, 100%, 48%);
	--amt_border_radius: 50%;
	--amt_padding: 0px 6px;
	--amt_txt_color: hsl(0, 0%, 0%);
	--amt_font_size: 0.7em;
	--dropmenu_amt_font_size: 1em;
	--dropmenu_amt_padding: 2px 5px;
	--dropmenu_bg_color: hsl(0, 0%, 0%);
	--dropmenu_box_shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
	--dropmenu_hover_bg_color: hsl(214, 36%, 91%);
	--dropmenu_link_color: hsl(0, 0%, 97%);
	--dropmenu_link_hover_color: hsl(0, 0%, 0%);
	--dropmenu_link_border_radius: 4px;
	--dropmenu_link_border_color: transparent;
	--dropmenu_link_border_style: solid;
	--dropmenu_link_border_width: 1px;
	--dropmenu_link_padding: 4px 8px;
	--dropmenu_li_font_size: 0.9em;
	--dropmenu_li_li_font_size: 1em;
	--dropmenu_strong_txt_color: hsl(0, 0%, 80%);
	--dropmenu_subsections_font_family: Arial, sans-serif;
	--dropmenu_subsections_font_size: 83.33%;
	--dropmenu_subsections_line_height: 150%;
	--menu_bg_color: hsl(207, 31%, 32%);
	--menu_border_color: hsl(208, 16%, 81%);
	--menu_box_shadow: none;
	--menu_link_bg_hover_color: hsl(0, 0%, 100%);
	--menu_link_color: hsl(0, 0%, 100%);
	--menu_link_bg_active_color: hsl(0, 0%, 100%);
	--menu_link_bg_active_hover_color: hsl(39, 100%, 48%);
	--menu_link_bg_focus_color: hsl(39, 100%, 48%);
	--menu_link_bg_hover_color: hsl(0, 0%, 100%);
	--menu_link_color: hsl(0, 0%, 100%);
	--menu_link_active_color: hsl(0, 0%, 0%);
	--menu_link_active_hover_color: hsl(0, 0%, 0%);
	--menu_link_focus_color: hsl(0, 0%, 100%);
	--menu_link_hover_color: hsl(0, 0%, 100%);

	/* Mentions */

	--atwho_view_bg_color: hsl(0, 0%, 0%);
	--atwho_view_border_color: hsl(0, 0%, 13%);
	--atwho_view_border_style: solid;
	--atwho_view_border_width: 1px;
	--atwho_view_box_shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	--atwho_view_border_radius: 3px;
	--atwho_view_small_txt_color: hsl(0, 0%, 47%);
	--atwho_view_strong_text: hsl(225, 100%, 60%);
	--atwho_view_cur_bg_color: hsl(225, 100%, 60%);
	--atwho_view_cur_txt_color: hsl(0, 0%, 0%);
	--atwho_view_cur_small_txt_color: hsl(0, 0%, 0%);
	--atwho_view_cur_strong_txt_color: hsl(0, 0%, 0%);

	/* On/Off Icons (User) */

    --on_off_border_radius: 50%;
	--on_bg_color: hsl(100, 75%, 63%);
	--on_border_color: hsl(100, 61%, 55%);
	--off_bg_color: hsl(0, 3%, 65%);
	--off_border_color: hsl(0, 2%, 58%);

	/* Pagination */

	--current_page_txt_color: hsl(32, 100%, 35%);

	
	/* Popup Windows */

	--popup_container_bg_color: hsla(204, 33%, 24%, 0.5);
	--popup_content_bg_color: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 95%) 100%);
	--popup_content_txt_color: hsl(0, 0%, 13%);
	--popup_content_border_color: hsl(0, 0%, 73%);
	--popup_content_border_style: solid;
	--popup_content_border_width: 1px;
	--popup_content_border_radius: 6px 6px 2px 2px;
	--popup_content_box_shadow: 0 -2px 3px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.2);
	--popup_content_padding: 10px 8px;
	--popup_heading_txt_color: hsl(0, 0%, 0%);
	--popup_heading_padding: 10px 8px;
	--popup_window_bg_color: hsl(207, 31%, 32%);
	--popup_window_box_shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	--popup_window_border_color: hsl(0, 0%, 47%);
	--popup_window_border_radius: 7px 7px 3px 3px;
	--popup_window_padding: 0px 6px 6px 6px;

	/* Post Bit Section */

    --display_head_txt_color: hsl(0, 0%, 58%);
	--poster_online_link_color: hsl(30, 98%, 38%);
	--key_post_info_link_color: hsl(30, 65%, 41%);
	--keyinfo_postinfo_modified_txt_color: hsl(0, 0%, 20%);
	--subject_title_link_color: hsl(0, 0%, 20%);
	--page_number_txt_color: hsl(30, 65%, 41%);
	--inner_border_color: hsl(0, 0%, 75%);
	--inner_border_style: solid;
	--inner_border_width: 1px;
	--inner_box_shadow: 0 1px 0 hsl(0, 0%, 100%) inset;
	--signature_border_color: hsl(0, 0%, 75%);
	--signature_box_shadow: 0 1px 0 hsl(0, 0%, 100%) inset;

	/* Post Draft Options */

	--post_draft_options_bg_color: hsl(0, 0%, 19%);
	--post_draft_options_border_color: hsl(0, 0%, 67%);
	--post_draft_options_border_style: solid;
	--post_draft_options_border_width: 1px;
	--post_draft_options_border_left_color: hsl(0, 0%, 73%);
	--post_draft_options_border_left_style: solid;
	--post_draft_options_border_left_width: 1px;
	--post_draft_options_border_radius: 0 0 4px 4px;
	--post_draft_options_settings_border_color: hsl(0, 0%, 89%);
	--post_draft_options_settings_border_style: solid;
	--post_draft_options_settings_border_width: 1px;
	--post_draft_options_settings_strong_txt_color: hsl(0, 0%, 33%);

	/* Post Options */

	--post_options_bg_color: hsl(0, 0%, 0%);
	--post_options_border_color: hsl(0, 0%, 60%);
	--post_options_border_style: solid;
	--post_options_border_width: 1px;
	--post_options_border_radius: 4px 0px 4px 4px;
	--post_options_border_color_hover: hsl(212, 15%, 80%);
	--post_options_link_border_radius: 3px;
	--post_options_font_weight: normal;

	/* Post BBC Links */

	--bbc_link_border_color: hsl(218, 29%, 74%);
	--bbc_link_hover_border_color: hsl(220, 33%, 30%);
	--bbc_link_hover_border_style: solid;
	--bbc_link_hover_border_width: 1px;

	/* Profile Section */

    --activity_stats_bg_color: hsl(0, 0%, 13%);
	--activity_stats_border_color: hsl(0, 0%, 40%);
	--activity_stats_border_style: solid;
	--activity_stats_border_width: 1px;
	--detailedinfo_border_color: hsl(0, 0%, 80%);
	--detailedinfo_border_style: solid;
	--detailedinfo_border_width: 1px;
	--detailedinfo_txt_color: hsl(0, 0%, 27%);
	--counter_txt_color: hsl(0, 0%, 25%);
	--list_posts_box_shadow: 0 1px 0 hsl(0, 0%, 100%) inset;
    --pick_theme_selected_bg_color: hsl(206, 33%, 5%);
	--unread_pm_bg_color: hsl(120, 100%, 90%);
	--unread_notify_hover_bg_color: hsl(0, 0%, 13%);

	/* User information. */

	--profile_user_links_li_font_size: .8rem;
	--profile_user_links_li_padding: 10px;
	--profile_username_font_size: 150%;

	/* Progress Bars & Generic Bars & Warning Bars & Personal Message Bar*/

	--personal_messages_capcity_bar_bg_color: hsl(206, 30%, 95%);
	--personal_messages_capcity_bar_border_color: hsl(0, 0%, 68%);
	--personal_messages_capcity_bar_border_style: solid;
	--personal_messages_capcity_bar_border_width: 1px;
    --personal_messages_empty_capacity_bar_bg_color: hsl(111, 41%, 73%);
    --personal_messages_filled_capacity_bar_bg_color: hsl(42, 100%, 47%);
    --personal_messages_full_capacity_bar_bg_color: hsl(0, 93%, 49%);
	--warning_level_none_bar_bg_color: hsl(100, 67%, 55%);
	--warning_level_watched_bar_bg_color: hsl(51, 100%, 50%);
	--warning_level_moderated_bar_bg_color: hsl(39, 100%, 50%);
	--warning_level_muted_bar_bg_color: hsl(6, 88%, 63%);

	/* Quote Blocks */

	--quote_block_alt_bg: hsl(198, 48%, 95%);
	--quote_block_standard_bg: hsl(224, 55%, 92%);
	--quote_block_border_color: hsl(195, 17%, 86%);
	--quote_block_border_style: solid;
	--quote_block_border_width: 1px;
	--quote_block_border_lr_color: hsl(0, 0%, 67%);
	--quote_block_border_lr_style: solid;
	--quote_block_border_lr_width: 2px;
	--quote_block_font_size: 0.85rem;
	--quote_cite_border_color: hsla(0, 0%, 0%, 0.1);
	--quote_cite_border_style: solid;
	--quote_cite_border_width: 1px;
	--quote_cite_before_font_size: 22px;
	--quote_cite_before_font_style: normal;
	--quote_cite_font_size: 0.9em;
	--quote_header_txt_color: hsl(0, 0%, 40%);
	--quote_header_font_size: 0.9em;
	--quote_txt_color: hsl(0, 0%, 67%);

	/* Registration Section */

	--coppa_contact_bg_color: hsl(0, 0%, 0%);
	--coppa_contact_border_color: hsl(0, 0%, 13%);
	--coppa_contact_border_style: solid;
	--coppa_contact_border_width: 1px;
	--coppa_contact_txt_color: hsl(0, 0%, 13%);
	--valid_input_bg_color: hsl(100, 100%, 97%);
	--invalid_input_bg_color: hsl(0, 100%, 97%);

	/* Two Factor Auth Code Container */

	--tfacode_bg_color: hsl(206, 74%, 89%);

    /* The "new" button */

    --new_posts_button_bg_color: hsl(39, 100%, 48%);
	--new_posts_button_border_color: hsl(0, 0%, 0%);
	--new_posts_button_border_style: solid;
	--new_posts_button_border_width: 1px;
	--new_posts_button_border_radius: 2px;
	--new_posts_button_font_family: verdana, sans-serif;
	--new_posts_button_font_size: 9px;
	--new_posts_button_font_weight: 700;
	--new_posts_button_line_height: 15px;
	--new_posts_button_txt_color: hsl(0, 0%, 0%);
	--new_posts_button_txt_color_visited: hsl(0, 0%, 13%);
	--new_posts_button_txt_color_hover: hsl(0, 0%, 13%);

    /* Toggle */

	--toggle_bg: #f7f7f7 url(../images/icons/toggle.png) no-repeat 0 0 / 17px;
	--toggle_bg_hover: hsl(208, 45%, 83%);
	--toggle_border_color: hsl(0, 0%, 77%);
	--toggle_border_style: solid;
	--toggle_border_width: 1px;
	--toggle_border_radius: 4px;
	--toggle_box_shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 1px 1px #fff inset, 0 -5px 4px rgba(0,0,0,.1) inset;
	--toggle_box_shadow_hover: 0 1px 2px rgba(0, 0, 0, 0.25) inset;

	/* ToolTips */

    --tooltip_bg_color: hsl(0, 0%, 0%);
	--tooltip_border_color: hsl(0, 0%, 67%);
	--tooltip_border_style: solid;
	--tooltip_border_width: 1px;
	--tooltip_txt_color: hsl(0, 0%, 20%);
	--tooltip_border_radius: 4px;
	--tooltip_box_shadow: 1px 2px 4px rgba(0, 0, 0, 0.2), 0 0px 10px rgba(0, 0, 0, 0.05) inset;

	/* Window Backgrounds */

	--window_approve_topic_bg_color: hsl(0, 100%, 5%);
	--window_approve_post_bg_color: hsl(0, 100%, 0%);
	--window_bg_color: hsl(0, 0%, 10%);
	--window_bg_even_color: hsl(0, 0%, 10%);
	--window_bg_odd_color: hsl(0, 0%, 13%);
	--window_locked_bg_color: hsl(218, 20%, 2%);
	--window_sticky_bg_color: hsl(209, 35%, 6%);
	--window_sticky_locked_bg_color: hsl(22, 35%, 6%);
	--window_target_bg_color: hsl(60, 100%, 94%);
	--window_table_row_bg_hover_color: hsl(214, 36%, 11%);

	/* Video Container */
	
	--video_container_bg_color: hsl(0, 0%, 0%);

	/* Basic Colors */
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);
	--red: hsl(0, 100%, 50%);
	--blue: hsl(240, 100%, 50%);
	--green: hsl(120, 100%, 25%);
 }