:root {
	/** Primary Color **/
	--primary-color-hex:                              #38546B;
	--primary-color-hue:                              207;
	--primary-color-50:                               #000/*(var(--primary-color-hue), 93%, 95*/
	--primary-color-100:                              #000/*(var(--primary-color-hue), 43%, 84*/
	--primary-color-200:                              #000/*(var(--primary-color-hue), 30%, 73*/
	--primary-color-300:                              #000/*(var(--primary-color-hue), 26%, 62*/
	--primary-color-400:                              #000/*(var(--primary-color-hue), 23%, 54*/
	--primary-color-500:                              #000/*(var(--primary-color-hue), 27%, 45*/
	--primary-color-600:                              #000/*(var(--primary-color-hue), 29%, 39*/
	--primary-color-700:                              var(--primary-color-hex);
	--primary-color-800:                              #000/*(var(--primary-color-hue), 34%, 25*/
	--primary-color-900:                              #000/*(var(--primary-color-hue), 44%, 17*/
	/** Secondary Color **/
	--secondary-color-hex:                            #ff9400;
	--secondary-color-hue:                            35;
	--secondary-color-50:                             #000/*(var(--secondary-color-hue), 100%, 94*/
	--secondary-color-100:                            #000/*(var(--secondary-color-hue), 100%, 85*/
	--secondary-color-200:                            #000/*(var(--secondary-color-hue), 100%, 75*/
	--secondary-color-300:                            #000/*(var(--secondary-color-hue), 100%, 65*/
	--secondary-color-400:                            #000/*(var(--secondary-color-hue), 100%, 57*/
	--secondary-color-500:                            var(--secondary-color-hex);
	--secondary-color-600:                            #000/*(var(--secondary-color-hue), 99%, 49*/
	--secondary-color-700:                            #000/*(var(--secondary-color-hue), 98%, 48*/
	--secondary-color-800:                            #000/*(var(--secondary-color-hue), 98%, 47*/
	--secondary-color-900:                            #000/*(var(--secondary-color-hue), 97%, 46*/
}