a:link, a:hover, a:visited {
	text-decoration: underline;
}
/* These divisions wrap the forum sections when a forum width is set. */
h1.forumtitle {
	color: #a85400;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 #fff;
}

#inner_wrap {
	min-height: 80px;
}
#inner_wrap .news {
	height: 80px;
	text-align: right;
	width: 100%;
	max-width: 100%;
	float: left;
}
#main_content_section {
	display: flex;
	flex-wrap: wrap;
}
#main_steps {
	order: 0;
	width: 49%;
}
#main_steps h2 {
	font-size: 1.2em;
	border-bottom: 1px solid #d05800;
	line-height: 1.6em;
	margin: 0 1em 0.5em 0;
	color: #d05800;
}
#main_steps ul {
	line-height: 1.8em;
}
#main_steps ul li.stepdone {
	color: #aaa;
}
#main_steps ul li.stepcurrent {
	color: #222;
	font-weight: bold;
}
#main_steps ul li.stepwaiting {
	color: #666;
}
#install_progress {
	order: -1;
	margin-right: 2%;
	width: 49%;
}
.progress_bar {
	line-height: 2em;
}
.progress_bar + h3, .progress_bar + .progress_bar {
	margin-top: 1.5em;
}
.progress_bar h3 {
	position: absolute;
	font-weight: normal;
	font-size: 1.1em;
	left: 0.5em;
	z-index: 3;
	text-shadow: 1px 1px rgba(255, 255, 255, .4);
}
#substep_bar_div {
	line-height: 1.6em;
}
#substep_progress {
	background-color: #eebaf4;
}
.time_elapsed {
	margin-top: 3em;
}
#main_screen {
	width: 100%;
	padding: 1em 1em 0.5em 1em;
}
#main_screen h2 {
	font-size: 1.2em;
	border-bottom: 1px solid #d05800;
	line-height: 1.6em;
	margin: 0 0 0.5em 0;
	color: #d05800;
}
.panel form div {
	max-height: 560px;
}
.panel p, .panel h3, .panel ul {
	margin: 0 0 1em 0;
}
.error_message {
	padding: 0.5em 0;
}
.panel .button {
	font-weight: bold;
}
.panel .button:hover {
	color: #af6700;
	text-decoration: none;
}
.panel .clear {
	padding: 1em 0 0 0;
	overflow: auto;
}
.upgrade_settings li + li {
	margin-top: 0.5em;
}
#commess {
	font-weight: bold;
}
.error_content {
	margin: 2.5ex;
	font-family: monospace;
}
#debug_section {
	overflow: auto;
	max-height: 8.4em; /* 6 lines of text */
	line-height: 1.4em;
}
dl.settings dt, dl.settings dd {
	width: 50%;
}
dl.settings.adminlogin dt {
	width: 20ch;
}
dl.settings.adminlogin dd {
	width: calc(100% - 20ch);
}
@media (max-width: 480px) {
	dl.settings.adminlogin dt, dl.settings.adminlogin dd {
		width: 100%;
	}
}
/* [WIP] Warning: this next bit may cause trouble. */
/* It's just to hide an empty div when the submits are not shown. */
.panel .clear:nth-child(3) {
	border: 1px solid green;
	display: none;
}
/* End [WIP] */
#time_elapsed {
	clear: both;
	padding: 1em 1em 0 1em;
	border: 1px solid green;
	/* [WIP] */
	background: /*#f0f4f7*/ #fcfcfc;
	margin: 1em 0.9em 0 0.9em;
	padding: 6px 8px 8px 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
	/* End [WIP] */
}
