/* In general, put margins above and below paragraphs and other block elements */
:is(.inner, .list_posts, .popup_content, #preview_body) :is(p, blockquote, ul, ol, li, table) {
	margin-top: 1.1em;
	margin-bottom: 1.1em;
}

/* No margin-top on the first block element */
:is(.inner, .list_posts, .popup_content, #preview_body) :is(p, blockquote, ul, ol, :first-child > li, table):first-child {
	margin-top: 0;
}
:is(.inner, .list_posts, .popup_content, #preview_body) blockquote cite:first-child + :is(p, blockquote, ul, ol, * > li:first-child, table) {
	margin-top: 0;
}

/* No margin-bottom on the last block element */
:is(.inner, .list_posts, .popup_content, #preview_body) :is(p, blockquote, ul, ol, :last-child > li, table):last-child {
	margin-bottom: 0;
}

/* No margin-top on blocks immediately following a float */
.bbc_float + :is(p, blockquote, ul, ol, * > li:first-child, table) {
	margin-top: 0;
}

/* No margin-top on blocks immediately following a blank line created by hard line breaks. */
:is(.inner, .list_posts, .popup_content, #preview_body) br + br + :is(p, blockquote, ul, ol, * > > li:first-child, table) {
	margin-top: 0;
}
